# autotools
aclocal.m4
autom4te.cache/
config.cache
config.log
config.status
configure
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
src/.deps/
src/autoconfig.h
src/autoconfig.h.in
src/Makefile
src/Makefile.in
src/stamp-h1

# build
*.o
wrapsix

# debug
core

# generated documentation
doc/
